.backImage {
  background-image: url("space.jpeg");
}

.card-image {
  background-image: url("cards.png");
}

.i {
  font-size: 50px !important;
  color: #5E3BDD;
}

i:hover {
    color: #ddaf3b;
}

h4 {
  font-size: 17px;
  color: black;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #333333;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.about-features {
  padding: 100px 80px 20px 80px;
  background-color: #ffffff;
}

.contanct {
  color: black;
}

.contanct-input {
  width: 235px;
  height: 35px;
}

.contact-button {
  border: 2px solid;
    border-color: #6636cc;
    border-radius: 10px;
    background: 0 0;
    box-shadow: none;
    color: #6636cc;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    padding: .8em 1.6em .8em;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
